[submodule "LLM_NATIVE_SOFTWARE_ENGINEERING"]
	path = LLM_NATIVE_SOFTWARE_ENGINEERING
	url = https://github.com/pragnakar/LLM_NATIVE_SOFTWARE_ENGINEERING.git
	branch = master
[submodule "Deployment_Engineering"]
	path = Deployment_Engineering
	url = https://github.com/pragnakar/Deployment_Engineering.git
	branch = main
[submodule "DevOps"]
	path = DevOps
	url = https://github.com/pragnakar/DevOps.git
	branch = master
[submodule "Database"]
	path = Database
	url = https://github.com/pragnakar/Database.git
	branch = master
[submodule "UI-UX"]
	path = UI-UX
	url = https://github.com/pragnakar/UI-UX.git
	branch = master
[submodule "Security_Engineering"]
	path = Security_Engineering
	url = https://github.com/pragnakar/Security_Engineering.git
	branch = main
[submodule "MLOps"]
	path = MLOps
	url = https://github.com/pragnakar/MLOps.git
	branch = main
[submodule "API_Design"]
	path = API_Design
	url = https://github.com/pragnakar/API_Design.git
	branch = main
[submodule "Testing_Strategy"]
	path = Testing_Strategy
	url = https://github.com/pragnakar/Testing-Strategy.git
	branch = main
[submodule "Documentation"]
	path = Documentation
	url = https://github.com/pragnakar/Documentation.git
	branch = main
[submodule "Scrum"]
	path = Scrum
	url = https://github.com/pragnakar/Scrum.git
	branch = main
